body, html {
  height: 100%;
  margin: 0;
}


.navbar {
  position: fixed;     
  bottom: 0;          
  left: 0;            
  width: 100%;         
  background-color: #4CAF50;
  padding: 1rem;       
  z-index: 1000;       
}

.navbar ul {
  list-style-type: none; 
  display: flex;         
  justify-content: center; 
  align-items: center; /* Center items vertically */
  margin: 0;          
  padding: 0;          
}

.navbar ul li {
  display: inline;      
}

.navbar ul li a {
  color: white;         
  text-decoration: none;
  padding: 0.5rem 1rem; 
}

.navbar ul li a:hover {
  text-decoration: underline; 
}

.logout-button {
  background: none;          /* Remove default button background */
  border: none;             /* Remove border */
  color: white;             /* Match link color */
  padding: 0.5rem 1rem;     /* Match padding with links */
  cursor: pointer;          /* Change cursor to pointer */
}

.logout-button:hover {
  text-decoration: underline; /* Underline on hover, like links */
}