.utility {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: rgba(191, 191, 191, 0.15);
  margin-bottom: 0px;
}

.ppl_count {
  font-size: small;
  margin-bottom: 0px;
}
  
.option {
  margin-bottom: 0px;
  margin-left: auto;
}

#scheduler .dx-scheduler-cell-sizes-horizontal {
  width: 200px;
}

#scheduler .dx-scheduler-side-bar-scrollable-content {
  margin-bottom: 0px;
}

#scheduler .dx-scheduler-cell-sizes-vertical {
  height: 50px;
}

#scheduler .dx-scheduler-group-header {
  height: 50px;
  margin-bottom: 0px;
}